header{
    border-bottom: 1px solid black;
    height: 65px;
    background-color: var(--background-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header span{
    font-size: 2.5rem;
}