.icon {
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
}

.icon.icon-red {
  color: red;
}

.icon.icon-blue{
  color: blue;
}

.icon.selectable:hover{
    cursor: pointer;
}

.icon-action{
background-color: white;
color: black;
border-radius: 5px;
padding: 2px;
}