body {
  max-width: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  display: flex;
  justify-content: center;
}

.main-card {
  background-color: var(--background-body);
  border-radius: 5px;
  padding: 10px;
}

.main-card.bottom{
  margin-top: auto;
}

.side-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  margin-right: 20px;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: calc(100vh - 145px); /*65 + 40*2*/
  padding: 15px;
}
.main-container {
  padding: 40px;
  display: flex;
  flex: 1;
  max-width: 1200px;
}

.flex-center {
  display: flex;
  align-self: center;
}

.two-column-flex {
  display: flex;
}
